@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
      font-family: 'Montserrat', sans-serif;          
};




/*--------------------------------------------Heading*/

html,body,header,#intro{
    height:100%;
 
}

.header{
     background: url('../images/headerfirst.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 90vh;
margin:0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
};








/*div#map {min-height: 360px;}*/