@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



body {
      font-family: 'Montserrat', sans-serif;          
}



html,body,header,#intro{
    height:100%;
 
}


/*HeaderHomePage*/
.header{
     background: url('../images/headerfirst.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     height: 90vh;
     margin:0px;
     display: flex;
     flex-direction: column;
    
}

.header h2{
        margin-top: 100px;
}
/*EndHeaderHomePage*/


/*TopDestination*/
.topdestination h5{
    color: rgb(111, 180, 111);
}

.topdestination1{
     background: url('../images/scotlandfromair.jpg')no-repeat center center fixed;
     background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     height: 50vh;  
}
/*EndTopDestination*/


/*ThreeThings*/
.three-things{
             background: url('../images/road1.jpg') no-repeat center center fixed;
             font-size:0.8rem;
             margin:0px;
            -webkit-background-size: center;
            -o-background-size: center;
            background-size: cover;
             display:flex;
             align-items:center;
            justify-content:center;
             position:relative; 
            flex-direction: column;
            background-position:  center; 
            color: white; 
}

.three-things i{
 background-color: white;
 color:rgb(95, 94, 94);
 border-radius: 60%;
 border: 1px solid grey;
 padding:10px;
}
/*EndThreeThings*/


/*Benefits*/
.benefits{
  font-size:0.8rem;
}
/*EndBenefits*/


/*ScotlandMap*/
div#map{
    height: 100%;
}
@media (max-width: 767px) {
                          div#map{height:400px;                                 }
}
/*EndScotlandMap*/


/*UsaMap*/
div#map1{
    height: 100%;
}
@media (max-width: 767px) {
                          div#map1{height:400px;                                 }
}
/*EndUsaMap*/


/*AustraliaMap*/
div#map2{
    height: 100%;
}
@media (max-width: 767px) {
                          div#map2{height:400px;                                 }
}
/*EndAustraliaMap*/


/*NamibiaMap*/
div#map3{
    height: 100%;
}
@media (max-width: 767px) {
                          div#map3{height:400px;                                 }
}
/*EndNamibiaMap*/


/*JapanMap*/
div#map4{
   height: 100%;
}
@media (max-width: 767px) {
                          div#map4{height:400px;                                 }
}
/*EndJapanMap*/


/*NewZealandMap*/
div#map5{
   height: 100%;
}
@media (max-width: 767px) {
                          div#map5{height:400px;                                 }
}
/*EndNewZealandMap*/


/*ChileMap*/
div#map6{
    height: 100%;
}
@media (max-width: 767px) {
                          div#map6{height:400px;                                 }
}
/*EndChileMap*/


/*CanadaMap*/
div#map7{
   height: 100%;
}
@media (max-width: 767px) {
                          div#map7{height:400px;                                 }
}
/*EndCanadaMap*/


/*VisitUsMap*/
div#mapVisitUs{
    height:400px;
}
/*EndVisitUsMap*/


/*RecommendTrip*/
.recommendtrip{
    background: url('../images/recomendustripe.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     height: 110vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;   
}
/*EndRecommendTrip*/

/*BeforeYouGo*/
.checklistheader h4{
    color: rgb(111, 180, 111);
}

#beforeYouGoVideo {
 height: 100%;
}

.checklistheader i{
 background-color:  rgb(111, 180, 111);
 color:rgb(95, 94, 94);
 border-radius: 60%;
 border: 1px solid grey;
 padding:10px;
}

.container-beforeyougo{
    background: url('../images/road.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     height: 110vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;    
}

.container-beforeyougo, form input, form button{
             padding: 0.5rem;
             border:none;
}

.container-beforeyougo, form button{
             cursor: pointer;
}

.checklist-container{
     display: flex;
    justify-content: center;
    align-items:center;
}

.checklist-list{
    min-width: 20%;
    list-style: none;
}

.checklist{
    margin: 0.5rem;
    background: white;
    color:black;
    font-size: 1.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.checklist li{
    flex:1;  
}

.trash-btn, .complete-btn {
    background:tomato;
    color: white;
    border: none;
    padding: 1rem;
    cursor:pointer;
    font-size:0.5rem; 
}

.complete-btn{
    background: rgb(122, 223, 122);
}

.checklist-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(9rem) rotateZ(25deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
    outline: none;
    border:none;

}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select{
    color: rgb(243, 79, 79);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content:"\25BC";
    position:absolute;
    background: rgb(243, 79, 79);
    top:0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.5s
}

.select:hover::after{
    background: white;
    color:rgb(243, 79, 79);
}
/*EndBeforeYouGo*/


/*SocialLinks*/
.social-links li a {
     color: #fafafa;
     
}
/*EndSocialLinks*/




