@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
      font-family: 'Montserrat', sans-serif;          
};





html,body,header,#intro{
    height:100%;
 
}

.header{
     background: url('../images/headerfirst.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     height: 90vh;
     margin:0px;
     display: flex;
     flex-direction: column;
    
}

.header h2{
        margin-top: 100px;
}

.topdestination h5{
    color: rgb(111, 180, 111);
}

.topdestination1{
     background: url('../images/scotlandfromair.jpg')no-repeat center center fixed;
     background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     height: 50vh;  
}

.three-things{
             background: url('../images/road1.jpg') no-repeat center center fixed;
             font-size:0.8rem;
             margin:0px;
            -webkit-background-size: center;
            -o-background-size: center;
            background-size: cover;
             display:flex;
             align-items:center;
            justify-content:center;
             position:relative; 
            flex-direction: column;
            background-position:  center; 
            color: white; 
}

.three-things i{
 background-color: white;
 color:rgb(95, 94, 94);
 border-radius: 60%;
 border: 1x solid grey;
 padding:10px;
}


.benefits{
  font-size:0.8rem;
}



div#map{
    
    height: 515px;
 
}

div#map1{
    height: 100%;
 
}


div#map2{
    height: 100%;
 
}

div#map3{
    height: 100%;
 
}

div#map4{
   height: 100%;
}


div#map5{
   height: 100%;
}

div#map6{
    height: 100%;
}

div#map7{
   height: 100%;
}
div#mapVisitUs{
    height:400px;
    width:100%;
}

.recommendtrip{
    background: url('../images/recomendustripe.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     height: 110vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;   
}




.container-beforeyougo{
    background: url('../images/road.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     height: 110vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center; 
     
}

.container-beforeyougo, form input, form button{
             padding: 0.5rem;
           
             border:none;
}

.container-beforeyougo, form button{
             cursor: pointer;
}

.todo-container{
     display: flex;
    justify-content: center;
    align-items:center;
}

.todo-list{
    min-width: 20%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color:black;
    font-size: 1.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex:1;  
}

.trash-btn, .complete-btn {
    background:tomato;
    color: white;
    border: none;
    padding: 1rem;
    cursor:pointer;
    font-size:0.5rem; 
}

.complete-btn{
    background: rgb(122, 223, 122);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(9rem) rotateZ(25deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
    outline: none;
    border:none;

}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: tomato;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content:"\25BC";
    position:absolute;
    background: tomato;
    top:0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.5s
}
.select:hover::after{
    background: white;
    color:tomato;
}

.social-links li a {
     color: #fafafa;
     
}





